@model PizzaDotNET.Models.Pizza
@{
    ViewBag.Title = "Edit";
}
<h2>Edit pizza</h2>

@using (Html.BeginForm("Edit", "Pizza"))
{
    @Html.AntiForgeryToken()
    <p class="alert alert-info">Every field except toppings are <strong>required</strong> </p>
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control", autofocus = "autofocus", placeholder = "eg. Hawaii"})
        @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
    </div>
    <div class="form-group">
        <label>Toppings</label>
        @Html.TextBoxFor(m => m.Toppings, new {@class = "form-control", placeholder = "eg. bacon, bacon or bacon"})
        @Html.ValidationMessageFor(m => m.Toppings, "", new {@class = "text-danger"})
    </div>
    <div class="form-group">
        <label>Normal size price</label>
        @Html.TextBoxFor(m => m.NormPrice, new {@class = "form-control", placeholder = "eg. 100"})
        @Html.ValidationMessageFor(m => m.NormPrice, "", new {@class = "text-danger"})
    </div>
    <div class="form-group">
        <label>Family size price</label>
        @Html.TextBoxFor(m => m.FamPrice, new {@class = "form-control", placeholder = "eg. 150"})
        @Html.ValidationMessageFor(m => m.FamPrice, "", new {@class = "text-danger"})
    </div>
    <button type="submit" class="btn btn-primary create">Edit</button>
    @Html.ActionLink("Cancel", "Menu", null, new {@class = "btn btn-secondary create"})
    @Html.ActionLink("Delete", "Delete", new {id = Model.Id}, new {@class = "btn btn-danger create"})
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
